#vue-app {
    background: #F5f4f4;
}

.footer {
    background-color: $brand-secondary;
}

.single .title, .page-singleitem .title {
       font-family: $font-family-heading;
       font-size: 5rem;
       color: $brand-primary;
}
